<!DOCTYPE html>
<html>
<title>WEB SERVICES</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
 
  <img src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/40424379_289256514997405_4672264118365847552_n.jpg?_nc_cat=102&_nc_oc=AQknE0LuguOmk6akBUEVFAIPLcdz7GYQcXyChO7D-d8zBKL1FPaPoTHTKIkXZfptUIA&_nc_ht=scontent.fbkk12-3.fna&oh=fa218a74756c613fc0a38d7e58022cc8&oe=5E1FC484" style="width:100%">
  <a href="home" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a>
  <a href="contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
  <a href="services" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class=""></i>
    <p>WEB SERVICES</p>
  </a>
</nav>


<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="index" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    <a href="services" class="w3-bar-item w3-button" > WEB SERVICES</a>
  </div>
</div>

<div class="w3-padding-64 w3-content" id="photos">
        <h2 class="w3-text-light-grey">My Photos</h2>
        <hr style="width:200px" class="w3-opacity">
    
       
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/40189927_288352525087804_6403661522391793664_n.jpg?_nc_cat=107&_nc_oc=AQnWl9WXfpykuXZFDceZatCPz1Lqvy5xWunSMFvaS6wqbOCaWewwj_up9U2IEUR6FO0&_nc_ht=scontent.fbkk8-2.fna&oh=47c8277959ee8d2a5521cbe523fc1e9f&oe=5E191E93" style="width:100%">
            <img src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/40234940_288228628433527_8004268681104195584_n.jpg?_nc_cat=101&_nc_oc=AQlN2zVxzqBB4SH3RfrOWbbrjSq22NHNCcgK285zGanbF2YnZYcosA-osOXTOC7RQYU&_nc_ht=scontent.fbkk12-1.fna&oh=4aec6539a08a8d19dcdefd855ed8efcc&oe=5E234F71" style="width:100%">
          </div>
    
          <div class="w3-half">
            <img src="https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.0-9/40651741_289728744950182_1591916545792016384_n.jpg?_nc_cat=108&_nc_oc=AQnBbHMW-57NnT7Cp8YUvI6TtcPYVdpyqgF8yAMWzaoFtuJ8IKA-R6GdE7oCX2_H0S0&_nc_ht=scontent.fbkk13-1.fna&oh=fbf3daa8f368fd977c0e76f537f19740&oe=5E2607A9" style="width:100%">
            <img src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-9/39217609_279455605977496_4009135358435393536_n.jpg?_nc_cat=110&_nc_oc=AQkOiaXogp2ssNSeOwfzxmozFfRdELcUFmDmyWe5GS3feDC_dzSp4x1fsFq3qaAPFDI&_nc_ht=scontent.fbkk12-4.fna&oh=81f924ce13a3bf88bda2b9a1679142c7&oe=5E215645" style="width:100%">
            
          </div>
        
        </div>
      
      </div>

</body>
</html>
